[submodule "python-encryption-and-encoding"]
	path = python-encryption-and-encoding
	url = https://github.com/slliks4/python-encryption-and-encoding.git
[submodule "pythonList"]
	path = pythonList
	url = https://github.com/slliks4/Python-list.git
[submodule "pythonRecursion"]
	path = pythonRecursion
	url = https://github.com/slliks4/Python-Recursion.git
